<div class="row">
  <div class="large-8 columns large-centered">
 	<h1>Edit template</h1>
	<%= render 'form' %>

	<%= link_to 'Show', @template %> |
	<%= link_to 'Back', templates_path %>

	</div>
</div>
