p {
	font-size: 14px; 
	line-height: 22px; 
	font-family: "Palatino Linotype", serif; 
	color: #b0a08b; 
	margin: 0px;
}
a {
	color: #bc1f31; 
	text-decoration: none;
}
a:hover { 
	text-decoration: underline ; 
}
table.header {
	background:url(image_path("header-bg.jpg")); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-color: #fffdf9;
}
.issue p {
	font-size: 36px;
	line-height: 49px;
	color: #ffffff; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	text-shadow: 1px 1px 1px #333;
}
.title h1 { 
	color: #333 ; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	font-weight: normal; 
	font-size: 54px; 
	font-family: Georgia, Times, serif 
}
.date p { 
	font-size: 22px;
	font-family: "Palatino Linotype", "Palatino", serif;
	color: #ffffff; 
	margin-top: 0px; 
	margin-bottom: 0px;
}
.story-image {
	border: solid 1px #FFF; 
	box-shadow: 2px 2px 2px #e6e6e6; 
	-webkit-box-shadow: 2px 2px 2px #e6e6e6; 
	-khtml-box-shadow: 2px 2px 2px #e6e6e6; 
	-moz-box-shadow: 2px 2px 2px #e6e6e6;
	width: 364px;
	height: auto;
}
.content h1 { 
	font-size: 24px; 
	font-family: "Palatino Linotype", "Palatino", serif; 
	color: #333333 ; 
	margin-top: 0px; 
	margin-bottom: 12px;
}
.content p, .content li { 
	font-size: 14px; 
	line-height: 22px; 
	font-family: "Palatino Linotype", "Palatino", serif;
	color: #333;
}
.content p{
	margin: 0 0 10px;
} 
.content ul {
	margin: 0 0 10px 1em; 
}
.content a { 
	color: #bc1f31; 
	text-decoration: none;
}
.content .news p {
	font-size: 24px;
	line-height: 32px;
	color: #bc1f31;
	font-weight: normal;
}
.contents-container {
	background-color: #312c26; 
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px;
}
.contents-container p {
	font-size: 16px; 
	font-family: "Palatino Linotype", "Palatino", serif;
	color: #ffffff; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	font-weight: normal;
}
.contents-container ul {
	margin-top: 0px; 
	margin-bottom: 12px; 
	padding:0; 
	font-size: 12px; 
	font-family: "Palatino Linotype", "Palatino", serif;
}
.contents-container li {
	margin-left: 18px; 
	margin-bottom: 8px; 
	color: #fff
}
.right-rail p, .right-rail li{ 
	font-size: 14px;
	line-height: 22px;
	font-family: "Palatino Linotype", "Palatino", serif;
	color: #333;
	margin-top: 0px; 
	margin-bottom: 0px;
	list-style-type: initial;
}
.right-rail h2 { 
	font-size: 17px; 
	font-family: "Palatino Linotype", "Palatino", serif; 
	color: #bc1f31; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	font-weight: bold;
	text-transform: uppercase;
}
table.apply-btn td {
	background-color: #bc1f31; 
	text-decoration: none; 
	padding: 5px; 
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px;
}
table.apply-btn p a {
	color:#ffffff;
	text-decoration: none;
	font-size: 16px;
}
.side-section {
	border-left: 1px solid #e6e3d2;
}
.side-section h2 {
	border-bottom: 1px solid #e6e3d2;
	line-height: 34px;
}
ul.publics-list {
	margin-top: 2px;
}
.side-section p.title {
	font-size: 18px;
	font-weight: bold;
}
.publics p, .publics li {
	font-size: 14px;
}
.address p {
	font-size: 14px; 
	line-height: 22px;
	font-family: "Palatino Linotype", "Palatino", serif; 
	color: #b0a08b; 
	margin: 0px;
}
ul.sort-list {
	margin: 0; 
	padding: 0;
}
ul.sort-list > li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}